<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="IntervalSeconds" value="10"/>
    <add key="FileName" value="notepad.exe"/>
    <add key="Arguments" value="/A c:\camera.log"/>
    <add key="WaitForExit" value="true"/>
    <add key="WaitTimeoutSeconds" value="10"/>
    <add key="UseShellExecute" value="true"/>
  </appSettings>
</configuration>
